.main-div{
   padding: 0.3rem;
}

.image-div{
    width : 100%;
    height : auto;
    display: flex;
    padding: 0.5rem;
   
}
.img-mediate{
  display: flex;
  flex-direction: column;
  
  width: 180px;
  height : 180px;

  padding: 2rem;

  
  
}
.second{
  



  width: 100%;



}
.image-container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: row;
    height: 50vh;
    overflow: scroll;
    background-color: #2D333B;}
.images{
  padding : 0.3rem;
  
}

h1{
    display: flex;
    justify-content: space-between;
}
aside{
    /* background-color:; */
    border: 1px solid #707070;
    width: 20%;
    height: auto;
    margin-left: 0.5rem;
    width: 24%;
  }
  p{
    text-align: center;
  }
  mat-selection-list{
    margin: 0.2rem;
  }

  mat-radio-button{
    margin: 0.5rem;
  }

  form{
    font-size: 1rem;
  }

  form mat-radio-button{
    text-transform: uppercase;
  }

  button{
    margin: 0 auto;
    
    text-align:  center;
    border: 1px solid rgb(255, 255, 255,0.1);
    /* color: white; */
}

.button-div{
  width: 100%;
  height: auto;
  display: flex;
   /* background-color: yellow; */
}
.button-div button{
  margin: 0.1rem;
  width: 100%;
  height: auto;
}