.image-div{
    width : 100%;
    height : auto;
    display: flex;
}
.image-container{
    display: flex;
}

button{
    margin: 0 auto;
    text-align:  center;
}
h1{
    display: flex;
    justify-content: space-between;
}
aside{
    /* background-color:; */
    border: 1px solid #707070;
    width: 20%;
    height: auto;
    margin-left: 0.5rem;
  }
  p{
    text-align: center;
  }
  mat-selection-list{
    margin: 0.2rem;
  }

  mat-radio-button{
    margin: 0.5rem;
  }