<div class="docfile-section">

<div class="office-viewer">
	<iframe [src]='urlSafe' width='100%' height='40vh' frameborder='0'></iframe>
</div>


<aside >
    <div class="actions">
        <button style="margin-right:10px" (click)="selectDocumentType('doc')">Doc</button>
        <button style="margin-right:10px" (click)="selectDocumentType('xl')">Excel</button>
        <button  (click)="selectDocumentType('ppt')">PPT</button>
    </div>
    <p class="header"> Doc File List </p>
    <mat-selection-list #shoes [multiple]="false"  >
        <mat-list-option *ngFor="let shoe of pdflist">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>

</aside>

</div>


